.container .place {
    display: flex;
    padding-left: 25px;
    /* flex-direction: column; */
}

.container .places h1 {
    font-size: 30px;
    text-align: left;
}

.container .places .name_place {
    padding-top: 30px;
    margin-bottom: -25px;
}

.container .places .name_articles {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.container .places article {
    width: 390px;
    padding: 20px;
    margin: 20px;
    border: 1px #FF5A5F solid;
    border-radius: 4px;
    text-align: center;
    font-size: 30px;
}

.container .places article h2 {
    font-size: 30px;
    text-align: center;
    margin-top: -5px;
}